.title{
    width: 100%;
    display: block;
    text-align: center;
    background: #4e7a9c;
    padding: 10px;
    color: white;
}
.body_chat{
    display: flex;
    padding: 5px;
}
.chat{
    margin-left: auto;
    margin-right: auto;
    width:75%;
   
}