.body_chat{
    height: 350px;
    border:1px solid #ccc;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 200px auto auto auto;
    padding: 10px;
    background: rgb(2, 177, 247);


}
.body_chat input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 80%;
    margin-bottom: 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.body_chat h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin: auto;
    text-shadow:  1px  2px 3px rgb(19, 221, 30);
}

.body_chat button{
    background:rgb(19, 221, 30); 
    padding: 10px;
    width: 200px;
    margin: auto;
    border: 2px solid black;
}
